.metadata/
.DS_Store
.project
.metadata
.bsp
.scala_dependencies
.classpath
.settings
.gradle
.cache
.idea/*
.idea_modules/*
bin/
target/
gen/
out/
build/
*.iml
*.tmp
*.bak
*.swp
RemoteSystemsTempFiles/
hs_err_*.log
